@font-face {
  font-family: conformity;
  src: url("../fonts/conformity.normal.ttf");
}

.contact_data {
  margin: 20px 0;
  font-style: italic;
  h2 {
    text-align: center;
  }
  p {
    font-weight: bold;
  }
  span {
    font-weight: bold;
    text-decoration: underline;
  }
}
.mapa_iframe iframe {
  width: calc($width_main - 80px);
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid $border_col !important;
}

.reserve_table {
  width: calc($width_main - 80px);
  // position: relative;
  left: 5%;
  h2 {
    position: relative;
    left: 33%;
    font-style: italic;
  }
  label {
    font-weight: bold;
    font-family: conformity;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  input {
    font-style: italic;
    &:hover {
      border: 1px solid $border_input_focus;
    }
  }
  textarea {
    font-style: italic;
    &:hover {
      border: 1px solid $border_input_focus;
    }
  }
  .btn_submit {
    background: $border_input_focus;
    border: 1px solid $border_input_focus;
    opacity: 70%;
    &:hover {
      cursor: pointer;
      opacity: 100%;
    }
    &:active {
      background: $border_input_focus;
      box-shadow: 0 0 20px 5px $border_input_focus;
      border: 1px solid $border_input_focus;
    }
  }
}
