$main_back_col: #41ee6c;
$text_main: #541add;
$text_main_hover: #e43f3f;
$text_main_menu: #f73333;

.green_teme {
  .aside {
    background: $main_back_col;
  }
  nav {
    background: $main_back_col;
    a {
      color: $text_main;
      &:hover {
        color: $text_main_hover;
      }
    }
  }
  .main_content {
    h2 {
      color: $text_main_menu;
    }
  }
  .main_menu {
    color: $text_main;
  }
}
