@font-face {
  font-family: auraSeraphRegular;
  src: url("../fonts/aura-seraph.regular.otf");
}
* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin_bot_body);
}

.pizza_main {
  margin: 0 25px;
}
/* ___________ aside left/right ___________*/

.aside {
  width: var(--width_aside);
  background-color: var(--main_back_col);
}

/* ___________ header ___________*/

header {
  width: var(--width_main);
  height: 100px;
  background: var(--header_back_col);
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  position: fixed;
  z-index: 5;
  text-shadow: 2px 2px 2px rgb(14, 223, 136);
}
header img {
  width: 100px;
  height: 100px;
  margin: var(--margin_img_header);
}
.header_time p {
  margin-top: 16px;
}
.header_adress p {
  width: 200px;
  height: 100px;
  margin-top: 11px;
  line-height: 37px;
}

/* ___________ navigation ___________*/

nav {
  width: var(--width_main);
  height: var(--height_nav);
  margin-top: 100px;
  display: flex;
  line-height: var(--height_nav);
  justify-content: center;
  background: var(--main_back_col);
  font-family: auraSeraphRegular;
  font-size: 24px;
  letter-spacing: 2px;
}

.nav_gallegy {
  margin: 0 95px 0 138px;
}
nav a {
  text-decoration: none;
  color: var(--text_main);
}
nav a:hover {
  color: var(--text_main_hover);
}
.button_for_media {
  display: none;
  border-radius: 5px;
}
.button_for_media:hover {
  cursor: pointer;
}
.button_for_media:active {
  transform: scale(1.1);
  box-shadow: 0 0 10px 10px #a0a0a0;
  background: var(--main_back_col);
}

/* ___________ main content ___________*/

.main_img {
  width: 100%;
  height: 274px;
  background-image: url("../img/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
  transition: opacity 2s;
}
.main_img:hover {
  opacity: 100%;
}
.main_content {
  width: var(--width_main);
}
.main_content h2 {
  text-align: center;
  margin: 21px 0;
  font-family: "Lobster", cursive;
  color: var(--text_main_menu);
}
.main_content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-top: 10px;
  transition: transform 1s, border-radius 1s;
}
.main_content img:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 50px 15px rgb(1, 53, 31);
  border-radius: 20%;
}
.main_menu {
  display: flex;
  justify-content: center;
  color: var(--text_main);
}
.main_menu div h4 {
  margin: 0 0 25px 0;
  text-align: center;
  font-size: 1.2em;
}
.food_menu {
  width: 32%;
}
.food {
  display: flex;
  width: 32%;
}
.food span {
  margin-left: 15px;
  line-height: 100px;
  font-family: "Lobster", cursive;
}

@media screen and (max-width: 460px) {
  .aside,
  .header_time,
  .header_adress,
  nav a {
    display: none;
  }
  .my_theme,
  .main_theme {
    --width_main: 390px;
  }
  nav {
    height: 60px;
  }
  .button_for_media {
    display: block;
    width: 36px;
    height: 30px;
    margin: auto 0 auto -55px;
    background: #88bd97;
  }
  .button_for_media div {
    width: 24px;
    height: 2px;
    margin: 4px auto 4px auto;
    border-bottom: 2px solid black;
  }
  .main_img {
    height: 200px;
  }
  .main_menu {
    flex-direction: column;
    margin-left: 133px;
  }
  .food_menu {
    margin-bottom: 25px;
  }
  .food_menu h4 {
    position: relative;
    left: 90px;
  }
}
