.main_theme {
  --main_back_col: #c2c2c2;
  --header_back_col: white;
  --width_main: 600px;
  --width_aside: 200px;
  --height_nav: 70px;
  --text_main: #673c3c;
  --text_main_hover: #d14444;
  --text_main_menu: #cf0c0c;
  --border_col: black;
  --border_input_focus: rgb(51, 167, 61);
  --margin_bot_body: 50px;
  --margin_logo_header: 0 55px;
}
